<div class="p-3">
  <h2 class="mb-4">Listado de Registros pendientes por revisar documentacion</h2>

<button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#miModal">
  <i class="bi bi-arrow-clockwise"></i> Recargar
</button>


<!-- Vista tabla para desktop con estilo Bootstrap -->
<div class="table-responsive d-none d-md-block">
  <table class="table table-striped table-bordered table-hover align-middle">
    <thead class="table-primary text-center">
      <tr>
        <th>Email</th>
        <th>Fecha registro</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

  <!-- Vista tipo card para móviles -->
  <div class="d-md-none">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Formulario de Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form>
          <div class="row g-3">

            <!-- Email -->
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control"  name="email">
            </div>

            <!-- Nombre -->
            <div class="col-md-6">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" id="name" class="form-control"  name="name">
            </div>

            <!-- Apellido -->
            <div class="col-md-6">
              <label for="surName" class="form-label">Apellido</label>
              <input type="text" id="surName" class="form-control"  name="surName">
            </div>

            <!-- Número de Documento -->
            <div class="col-md-6">
              <label for="docNumber" class="form-label">Número de Documento</label>
              <input type="text" id="docNumber" class="form-control"  name="docNumber">
            </div>

            <!-- Fecha de nacimiento -->
            <div class="col-md-6">
              <label for="dateOfBirth" class="form-label">Fecha de Nacimiento</label>
              <input type="date" id="dateOfBirth" class="form-control" name="dateOfBirth">
            </div>

            <!-- Imagen -->
            <div class="col-12">
              <label for="imagen" class="form-label">Imagen</label>
              <div class="text-center">
           <img src="assets/rlx.jpeg" alt="Imagen documento" class="img-fluid rounded border mb-2" style="max-height: 200px;">

              </div>
  
            </div>

          </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" >Guardar</button>
      </div>

    </div>
  </div>
</div>



