<div class="container py-5">
  <h2 class="mb-4">Crear evento</h2>

  <form (ngSubmit)="crearRifa()" #rifaForm="ngForm">
    <!-- Nombre de la rifa -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del evento</label>
      <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="nuevaRifa.nombre">
    </div>

    <!-- Descripción de la rifa -->
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required [(ngModel)]="nuevaRifa.descripcion"></textarea>
    </div>

    <!-- Precio por número -->
    <div class="mb-3">
      <label for="precio" class="form-label">Precio por número</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="precio" name="precio" min="0" required [(ngModel)]="nuevaRifa.precio">
      </div>
    </div>

    <!-- Compra mínima -->
    <div class="mb-3">
      <label for="minima" class="form-label">Compra mínima</label>
      <input type="number" class="form-control" id="minima" name="minima" min="1" required [(ngModel)]="nuevaRifa.compraMinima">
    </div>

    <!-- Dígitos de la rifa -->
    <div class="mb-4">
      <label for="digitos" class="form-label">Cantidad de dígitos del evento</label>
      <select class="form-select" id="digitos" name="digitos" required [(ngModel)]="nuevaRifa.digitos">
        <option *ngFor="let d of [1,2,3,4,5]" [value]="d">{{ d }}</option>
      </select>
    </div>

    <!-- Paquetes de la rifa -->
    <div class="mb-3">
      <label class="form-label">Paquetes</label>

      <div class="input-group mb-2" *ngFor="let p of [0,1,2]; let i = index">
        <span class="input-group-text">Paquete {{ i + 1 }}</span>
        <input
          type="number"
          class="form-control"
          name="paquete{{ i }}"
          [(ngModel)]="nuevaRifa.paquetes[i]"
          required
          min="1"
        />
      </div>
    </div>


    <!-- Subida de imagen -->
    <div class="mb-3">
      <label for="imagen" class="form-label">Imagen del evento</label>
      <input type="file" class="form-control" id="imagen" name="imagen" (change)="onFileSelected($event)">
    </div>


    <!-- Botón -->
    <button type="submit" class="btn btn-primary w-100">Crear rifa</button>
  </form>
</div>
